<a href="https://colab.research.google.com/github/Nagmashaik123/INFO5502/blob/master/DataMining_Movies_Ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing libraries numpy, pandas, matplotlib.pyplot and seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Loading the IMDB rating.csv which contains the title id's and their corresponding ratings from different aspects
imdb_data=pd.read_csv('/content/IMDb ratings.csv')

In [4]:
# printing top 5 rows
imdb_data.head()

  imdb_title_id  ...  non_us_voters_votes
0     tt0000009  ...                 70.0
1     tt0000574  ...                331.0
2     tt0001892  ...                123.0
3     tt0002101  ...                105.0
4     tt0002130  ...               1166.0

[5 rows x 49 columns]

In [5]:
# Loading the IMDB movies.csv which contains the title id's and their cast & crew, release dates .. which are required for the analysis
imdb_titles=pd.read_csv('/content/IMDb movies.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# printing top 5 rows
imdb_titles.head()

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

In [7]:
# Importing and reading contents from ratings and movies .csv
imdb_ratings=pd.read_csv('/content/IMDb ratings.csv',usecols=['weighted_average_vote'])
imdb_titles=pd.read_csv('/content/IMDb movies.csv', usecols=['title','year','genre'])

# Creating the ratings frame based on weighted_average_vote column from ratings.csv 
# Frame contains infrom from Release year, rating and genre
ratings = pd.DataFrame({'Title':imdb_titles.title,
                    'Release Year':imdb_titles.year,
                    'Rating': imdb_ratings.weighted_average_vote,
                    'Genre':imdb_titles.genre})

# Dropping duplicate rows having same title, release year and rating and then resetting their index
ratings.drop_duplicates(subset=['Title','Release Year','Rating'], inplace=True)
ratings.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(85852, 4)

In [8]:
ratings

                                Title  ...                      Genre
0                          Miss Jerry  ...                    Romance
1         The Story of the Kelly Gang  ...    Biography, Crime, Drama
2                      Den sorte drøm  ...                      Drama
3                           Cleopatra  ...             Drama, History
4                           L'Inferno  ...  Adventure, Drama, Fantasy
...                               ...  ...                        ...
85850                         Le lion  ...                     Comedy
85851  De Beentjes van Sint-Hildegard  ...              Comedy, Drama
85852       Padmavyuhathile Abhimanyu  ...                      Drama
85853               Sokagin Çocuklari  ...              Drama, Family
85854      La vida sense la Sara Amat  ...                      Drama

[85852 rows x 4 columns]

In [10]:
df=pd.read_csv('/content/netflix_titles.csv')

In [11]:
#Performing inner join on the two data sets having movie titles from netflix_titles.csv and their corresponding ratings from IMDB
ratings.dropna()
join_data=ratings.merge(df,left_on='Title', right_on='title',how='inner')
join_data=join_data.sort_values(by='Rating',ascending=False)

In [12]:
# printing top 5 rows
df.head()

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [13]:
# Installing necessary plotly with version 4.5.2 to support below graph
!pip install plotly==4.5.2

Collecting plotly==4.5.2
  Downloading plotly-4.5.2-py2.py3-none-any.whl (7.1 MB)
     |████████████████████████████████| 7.1 MB 5.3 MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly==4.5.2) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==4.5.2) (1.15.0)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.5.2

In [14]:
# Visualising the analysis of the movie and their rating for 10 different countries having top ratings
import plotly.express as px
top_rated=join_data[0:10]
fig=px.sunburst(top_rated,path=['title','country'],values='Rating',color='Rating')
fig.show()

In [15]:
# Returning countries having highest rated content is being counted and sorted in descending order with top 11 rows
country_count=join_data['country'].value_counts().sort_values(ascending=False)
country_count=pd.DataFrame(country_count)
top_countries=country_count[0:11]
top_countries

                               country
United States                      865
India                              718
United Kingdom                     119
Canada                              57
Philippines                         50
Spain                               41
South Korea                         38
Indonesia                           38
France                              37
Nigeria                             31
United Kingdom, United States       31

In [16]:
# Visualising the countries having highest rated content is being counted and sorted in descending order with top 11 rows
import plotly.express as px
data = dict(
    number=[865,718,119,57,50,41,38,38,37,31,31],
    country=["United States", "India", "United Kingdom", "Canada", "Philippines", "Spain", "South Korea", "Australia", "Indonesia", "France", "Mexico"])
fig = px.funnel(data, x='number', y='country')
fig.show()