<a href="https://colab.research.google.com/github/Nagmashaik123/INFO5502/blob/master/DataMining_Movies_Ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing libraries numpy, pandas, matplotlib.pyplot and seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Loading the IMDB rating.csv which contains the title id's various ratings from different aspects
imdb_data=pd.read_csv('/content/IMDb ratings.csv')

In [4]:
# printing top 5 rows
imdb_data.head()

  imdb_title_id  ...  non_us_voters_votes
0     tt0000009  ...                 70.0
1     tt0000574  ...                331.0
2     tt0001892  ...                123.0
3     tt0002101  ...                105.0
4     tt0002130  ...               1166.0

[5 rows x 49 columns]

In [5]:
# Loading the IMDB rating.csv which contains the title id's various ratings from different aspects
imdb_titles=pd.read_csv('/content/IMDb movies.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# printing top 5 rows
imdb_titles.head()

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

In [10]:
# Importing and reading contents from ratings and movies .csv
imdb_ratings=pd.read_csv('/content/IMDb ratings.csv',usecols=['weighted_average_vote'])
imdb_titles=pd.read_csv('/content/IMDb movies.csv', usecols=['title','year','genre'])

# Creating the ratings frame based on weighted_average_vote column from ratings.csv 
# Frame contains infrom from Release year, rating and genre
ratings = pd.DataFrame({'Title':imdb_titles.title,
                    'Release Year':imdb_titles.year,
                    'Rating': imdb_ratings.weighted_average_vote,
                    'Genre':imdb_titles.genre})

# Dropping duplicate rows and resetting index
ratings.drop_duplicates(subset=['Title','Release Year','Rating'], inplace=True)
ratings.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(85852, 4)

In [11]:
ratings

                                Title  ...                      Genre
0                          Miss Jerry  ...                    Romance
1         The Story of the Kelly Gang  ...    Biography, Crime, Drama
2                      Den sorte drøm  ...                      Drama
3                           Cleopatra  ...             Drama, History
4                           L'Inferno  ...  Adventure, Drama, Fantasy
...                               ...  ...                        ...
85850                         Le lion  ...                     Comedy
85851  De Beentjes van Sint-Hildegard  ...              Comedy, Drama
85852       Padmavyuhathile Abhimanyu  ...                      Drama
85853               Sokagin Çocuklari  ...              Drama, Family
85854      La vida sense la Sara Amat  ...                      Drama

[85852 rows x 4 columns]