<a href="https://colab.research.google.com/github/Nagmashaik123/INFO5502/blob/master/RecommendationOfNetflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
df=pd.read_csv("/content/netflix_titles.csv")

In [7]:
tfidf = TfidfVectorizer(stop_words='english')
df['description'] =df['description'].fillna('')
tfidf_matrix = tfidf.fit_transform(df['description'])
tfidf_matrix.shape

(8807, 18895)

In [8]:
from sklearn.metrics.pairwise import linear_kernel

In [9]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [10]:
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.01538292,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.02230089],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.01538292, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.02230089, ..., 0.        , 0.        ,
        1.        ]])

In [11]:
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [12]:
def get_recomendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse= True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]

In [13]:
get_recomendations('Peaky Blinders')

7683                    Our Godfather
2646                   My Stupid Boss
3133                              Don
8293                         The Fear
7140    Jonathan Strange & Mr Norrell
7785                Power Rangers Zeo
8467                       The Prison
8539                       The Tudors
1510                    The Con Is On
8391     The Legend of Michael Mishra
Name: title, dtype: object

In [14]:
get_recomendations('The Spy')

2502        Escaping Tel Aviv
373        The Last Mercenary
4776               Mossad 101
389             The Operative
8272             The Departed
356                The Losers
4069    Beauty and the Bestie
6633            Donnie Brasco
8217          The Book of Eli
3309     Undercover Brother 2
Name: title, dtype: object

In [15]:
filledna1=df.fillna('')
filledna1.head(2)

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...

[2 rows x 12 columns]

In [16]:
def clean_data(x):
    return str.lower(x.replace(" ",""))

In [17]:
features=['title','director','cast','listed_in','description']
filledna1=filledna1[features]

In [18]:
for feature in features:
    filledna1[feature] = filledna1[feature].apply(clean_data)

In [19]:
filledna1.head()

                 title  ...                                        description
0    dickjohnsonisdead  ...  asherfathernearstheendofhislife,filmmakerkirst...
1          blood&water  ...  aftercrossingpathsataparty,acapetownteensetsou...
2            ganglands  ...  toprotecthisfamilyfromapowerfuldruglord,skille...
3  jailbirdsneworleans  ...  feuds,flirtationsandtoilettalkgodownamongthein...
4          kotafactory  ...  inacityofcoachingcentersknowntotrainindia’sfin...

[5 rows x 5 columns]

In [20]:
def create_soup(x):
    return x['title']+ ' ' + x['director']+ ' ' + x['cast']+ ' ' + x['listed_in']+ ' ' + x['description']

In [21]:
filledna1['soup'] = filledna1.apply(create_soup, axis=1)

In [22]:
filledna1['soup']

0       dickjohnsonisdead kirstenjohnson  documentarie...
1       blood&water  amaqamata,khosingema,gailmabalane...
2       ganglands julienleclercq samibouajila,tracygot...
3       jailbirdsneworleans   docuseries,realitytv feu...
4       kotafactory  mayurmore,jitendrakumar,ranjanraj...
                              ...
8802    zodiac davidfincher markruffalo,jakegyllenhaal...
8803    zombiedumb   kids'tv,koreantvshows,tvcomedies ...
8804    zombieland rubenfleischer jesseeisenberg,woody...
8805    zoom peterhewitt timallen,courteneycox,chevych...
8806    zubaan mozezsingh vickykaushal,sarah-janedias,...
Name: soup, Length: 8807, dtype: object

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(filledna1['soup'])
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [26]:
count_matrix

<8807x76189 sparse matrix of type '<class 'numpy.int64'>'
	with 135165 stored elements in Compressed Sparse Row format>

In [27]:
filledna1=filledna1.reset_index()
indices = pd.Series(filledna1.index, index=filledna1['title'])

In [28]:
def get_recomendations_multiple(title, cosine_sim=cosine_sim):
    title=title.replace(' ','').lower()
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]

In [29]:
get_recomendations_multiple('PK', cosine_sim2)

1114                           3 Idiots
8391       The Legend of Michael Mishra
4790                  Anthony Kaun Hai?
6907                             Haapus
1022                   Taare Zameen Par
4507                              Sanju
2720                            Dostana
4427                    Chance Pe Dance
6439                    Chal Dhar Pakad
195     EMI: Liya Hai To Chukana Padega
Name: title, dtype: object

In [30]:
get_recomendations_multiple('Peaky Blinders', cosine_sim2)

3034                    Giri / Haji
5032    The Frankenstein Chronicles
8431          The Murder Detectives
4951                         Loaded
4809                  Kiss Me First
6922                   Happy Valley
2184                       Get Even
519                   I AM A KILLER
3789                 Killer Ratings
4476          Terrorism Close Calls
Name: title, dtype: object

In [31]:
get_recomendations_multiple('Giri / Haji', cosine_sim2)

5032                   The Frankenstein Chronicles
4809                                 Kiss Me First
2184                                      Get Even
519                                  I AM A KILLER
3789                                Killer Ratings
4476                         Terrorism Close Calls
4673                      Inside the Criminal Mind
7017    How to Live Mortgage Free with Sarah Beeny
3452                                Peaky Blinders
6971                                    Hinterland
Name: title, dtype: object

In [32]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [34]:
books=pd.read_csv('/content/books.csv')

In [35]:
books.head()

   id  ...                                    small_image_url
0   1  ...  https://images.gr-assets.com/books/1447303603s...
1   2  ...  https://images.gr-assets.com/books/1474154022s...
2   3  ...  https://images.gr-assets.com/books/1361039443s...
3   4  ...  https://images.gr-assets.com/books/1361975680s...
4   5  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

In [36]:
books['original_title']=books['original_title'].str.lower()
x=df
x['title']=x['title'].str.lower()
t=x.merge(books, left_on='title',right_on='original_title', how="inner")

In [37]:
t.shape

(339, 35)

In [38]:
import plotly.graph_objects as go
labels = ['shows from books','shows not from books']
values = [248,6234]
fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.show()

In [39]:
df['cast']

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                  NaN
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [40]:
filledna1=filledna1.reset_index()
indices1 = pd.Series(filledna1.index, index=filledna1['cast'])

In [41]:
def get_recomendations_cast(cast, cosine_sim=cosine_sim):
    cast=cast.replace(' ','').lower()
    
    idx1 = indices1[cast]
    sim_scores = list(enumerate(cosine_sim[idx1]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_cast = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_cast]

In [42]:
get_recomendations_cast('Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson',cosine_sim2)

7595    norm of the north: keys to the kingdom
7594        norm of the north: family vacation
1005        keymon and nani in space adventure
7317       little singham aur kaal ka mahajaal
7319                  little singham in london
937               motu patlu in dragon's world
938            motu patlu in the game of zones
1006                  motu patlu dino invasion
2236       little singham: legend of dugabakka
3390           little singham: kaal ki tabaahi
Name: title, dtype: object

In [43]:
get_recomendations_multiple('Norm of the North: King Sized Adventure', cosine_sim2)

7595    norm of the north: keys to the kingdom
7594        norm of the north: family vacation
1005        keymon and nani in space adventure
7317       little singham aur kaal ka mahajaal
7319                  little singham in london
937               motu patlu in dragon's world
938            motu patlu in the game of zones
1006                  motu patlu dino invasion
2236       little singham: legend of dugabakka
3390           little singham: kaal ki tabaahi
Name: title, dtype: object

In [44]:
df_split=df['cast'].str.replace(',',"").str.split(' ')

In [45]:
df['cast']

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                  NaN
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [46]:
df['split_cast']=df_split

In [47]:
df.head()

  show_id  ...                                         split_cast
0      s1  ...                                                NaN
1      s2  ...  [Ama, Qamata, Khosi, Ngema, Gail, Mabalane, Th...
2      s3  ...  [Sami, Bouajila, Tracy, Gotoas, Samuel, Jouy, ...
3      s4  ...                                                NaN
4      s5  ...  [Mayur, More, Jitendra, Kumar, Ranjan, Raj, Al...

[5 rows x 13 columns]

In [56]:
fillednac=df.fillna('')

In [57]:
fillednac.head()

  show_id  ...                                         split_cast
0      s1  ...
1      s2  ...  Ama Qamata Khosi Ngema Gail Mabalane Thabang M...
2      s3  ...  Sami Bouajila Tracy Gotoas Samuel Jouy Nabiha ...
3      s4  ...
4      s5  ...  Mayur More Jitendra Kumar Ranjan Raj Alam Khan...

[5 rows x 13 columns]

In [58]:
def clean_data(x):
    return str.lower(x.replace(" ",""))

In [59]:
features=['title','director','cast','listed_in','description']
fillednac=fillednac[features]

In [60]:
def create_soup(x):
    return x['title']+ ' ' + x['director']+ ' ' + x['cast']+ ' ' + x['listed_in']+ ' ' + x['description']

In [61]:
fillednac['soup'] = fillednac.apply(create_soup, axis=1)

In [62]:
fillednac['soup']

0       dick johnson is dead Kirsten Johnson  Document...
1       blood & water  Ama Qamata, Khosi Ngema, Gail M...
2       ganglands Julien Leclercq Sami Bouajila, Tracy...
3       jailbirds new orleans   Docuseries, Reality TV...
4       kota factory  Mayur More, Jitendra Kumar, Ranj...
                              ...
8802    zodiac David Fincher Mark Ruffalo, Jake Gyllen...
8803    zombie dumb   Kids' TV, Korean TV Shows, TV Co...
8804    zombieland Ruben Fleischer Jesse Eisenberg, Wo...
8805    zoom Peter Hewitt Tim Allen, Courteney Cox, Ch...
8806    zubaan Mozez Singh Vicky Kaushal, Sarah-Jane D...
Name: soup, Length: 8807, dtype: object

In [63]:
from sklearn.feature_extraction.text import CountVectorizer

In [64]:
from sklearn.metrics.pairwise import cosine_similarity

In [65]:
count_cast = CountVectorizer(stop_words='english')
count_matrix_cast = count_cast.fit_transform(fillednac['soup'])
cosine_sim_cast = cosine_similarity(count_matrix_cast, count_matrix_cast)

In [66]:
count_matrix.shape

(8807, 76189)

In [67]:
fillednac=fillednac.reset_index()
indices_cast = pd.Series(fillednac.index, index=fillednac['cast'])

In [68]:
def get_recomendations_cast(cast, cosine_sim=cosine_sim):
    cast=cast.replace(' ','').lower()
    
    idx1 = indices1[cast]
    sim_scores = list(enumerate(cosine_sim[idx1]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_cast = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_cast]

In [69]:
get_recomendations_cast('Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson',cosine_sim_cast)

7595    norm of the north: keys to the kingdom
7594        norm of the north: family vacation
3338                                holly star
7513                 motu patlu: king of kings
3343                                santa girl
8461                         the polar express
6242        barbie: the princess & the popstar
8581                     thor: tales of asgard
344                                  my girl 2
100                    tobot galaxy detectives
Name: title, dtype: object